body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.calc_body{
    width: 400px;
    height: 600px;
    border: 1px, solid, black;

    display: flex;
    flex-direction: column;
    
    gap: 20px;
}

.text_box{
    border: 1px, solid, black;
    padding: 5px;
    margin: 20px;
    margin-bottom: 0px;

    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 50px;
    
}

.button_section{
    border: 1px, solid, black;
    padding: 5px;
    margin: 20px;
    margin-top: 0px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.button_alt{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
}

